<h1>Open Past Tasks</h1>

<% @tasks.each do |task| %>
<div class="task">

<div class="indicator">
  <% if current_user.past_migration == true && task.day.date < Date.today %>
    &#8226;
  <% else %>
    <form class="form-button" action="/tasks/<%= task.id %>/complete" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="status" value="complete">
      <input type="submit" value="&#8226;">
    </form>
  <% end %>
</div>

  <%= task.content %>
  <div class="button">
    <a href="/tasks/<%= task.id %>">EDIT</a>
  </div>

  <% if task.status != "complete" && task.day.date != Date.tomorrow %>
    <form class="form-button" action="/tasks/<%= task.id %>/migrate" method="post">
      <input type="submit" value="Migrate">
    </form>
  <% end %>

  <form class="form-button" action="/tasks/<%= task.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>

<% end %>
