<h1>Update Your Settings</h1>

<% if flash[:error] %>
<div class="error-message">
  <% if flash[:error].size == 1 %>
    <%= flash[:error].join %>
  <% else %>
    The following errors are preventing you from creating your account:
    <ul>
      <% flash[:error].flatten.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>


<form class="submit" action="/settings" method="post">
  <input type="hidden" name="_method" value="patch">

  <table>
    <tr>
      <td class="col-1">
        <label>First Name: </label>
      </td>
      <td class="textbox">
        <input required type="text" name="first_name" value="<%= @user.first_name %>">
      </td>
    </tr>

    <tr>
      <td class="col-1">
        <label>Last Name: </label>
      </td>
      <td class="textbox">
        <input required type="text" name="last_name" value="<%= @user.last_name %>">
      </dr>
    </tr>

    <tr>
      <td class="col-1">
        <label>Email: </label>
      </td>
      <td class="textbox">
        <input required type="email" name="email" value="<%= @user.email %>">
      </dr>
    </tr>
  </table>

  <div class="form-button">
    <input type="submit" value="Update Settings">
  </div>
</form>

<form class="submit" action="/settings" method="post">
  <input type="hidden" name="_method" value="patch">
<h2>Change Password</h2>

  <p>
    If you would like to change your password, please enter and confirm your new password in the fields below:
  </p>

  <table>
    <tr>
      <td class="col-1">
        <label>Password: </label>
      </td>
      <td class="textbox">
        <input required type="password" name="password" value="">
      </td>
    </tr>

    <tr>
      <td class="col-1">
        <label>Confirm Password: </label>
      </td>
      <td class="textbox">
        <input required type="password" name="password_confirmation" value="">
      </td>
    </tr>
  </table>

  <input type="submit" value="Change Password">
</div>
</form>
