<h1 class="day-title"><%= @day.date.strftime("%a, %B %-d, %Y") %></h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>


  <h2>Task<% if @day.tasks.count >= 2 %>s<% end %>&nbsp;
    <% if @day.date >= Date.today %>
      <a href="/days/<%= @day.id %>/tasks/new">+</a>
    <% end %>
  </h2>

<% @day.tasks.each do |task| %>
  <div class="task">

  <div class="task-component">
    <% if task.status == "complete" %>
    <div class="indicator">
      X
    </div>
    <% else %>
      <form action="/tasks/<%= task.id %>/complete" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="status" value="complete">
      <div class="complete">
        <input type="submit" value="">
      </div>
      </form>
    <% end %>
  </div>

  <div class="task-component">

    <%= task.content %>
  </div>

  <% if task.status != "complete" && @day.date != Date.tomorrow %>
    <form class="task-component" action="/tasks/<%= task.id %>/migrate" method="post">
      <div class="migrate icon">
        <input type="submit" value="">
      </div>

    </form>
  <% end %>

    <div class="task-component">
      <a href="/tasks/<%= task.id %>"><img class="edit icon" src="/images/edit.png" alt="" /></a>
    </div>

    <form class="task-component" action="/tasks/<%= task.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <div class="delete icon">
        <input type="submit" value="">
      </div>
    </form>

  </div>

<% end %>

<% @day.migrations.each do |migration| %>
  <div class="task">
    <div class="indicator task-component">
      >
    </div>
    <div class="task-component">
      <%= migration.task.content %>
    </div>
  </div>
<% end %>




  <h2>Event<% if @day.events.count >= 2 %>s<% end %>&nbsp;
    <a href="/days/<%= @day.id %>/events/new">+</a>
  </h2>

<% @day.events.each do |event| %>
<div class="event">
  <div class="indicator task-component">
    O
  </div>
  <%= event.content %>
  <div class="button task-component">
    <a href="/events/<%= event.id %>">EDIT</a>
  </div>
  <form class="form-button task-component" action="/events/<%= event.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<% end %>
