<h1 class="day-title"><%= @day.date.strftime("%a, %B %-d, %Y") %></h1>
<div class="day-nav">
  <% if @day != current_user.days.first && @day != current_user.days.last %>
    <a href="/days/<%= @day.id %>/previous">Previous Day</a> || <a href="/days/<%= @day.id %>/next">Next Day</a>
  <% elsif @day == current_user.days.first %>
    <a href="/days/<%= @day.id %>/next">Next Day</a>
  <% elsif @day == current_user.days.last%>
    <a href="/days/<%= @day.id %>/previous">Previous Day</a>
  <% end %>
</div>


<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>

<% if current_user.days.all.count <= 2 %>
<p>
  New to BuJo 2.0? <a href="/help">Get the basics</a>!
</p>
<% end %>

  <h2>Tasks&nbsp;
    <% if @day.date >= Date.today %>
      <a href="/days/<%= @day.id %>/tasks/new"><div class="add icon"></div></a>
    <% end %>
  </h2>

<% if @day.tasks.count == 0 %>
  <p>
    Click the "+" next to Tasks to add your first task.
  </p>
<% end %>

<% @day.tasks.each do |task| %>
  <div class="task">

  <div class="task-component">
    <% if task.status == "complete" %>
    <div class="completed icon"></div>
    <% else %>
      <form action="/tasks/<%= task.id %>/complete" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="status" value="complete">
      <div class="complete icon">
        <input type="submit" value="">
      </div>
      </form>
    <% end %>
  </div>

  <div class="task-component content">
    <%= task.content %>
  </div>

  <% if task.status != "complete" && @day.date != Date.tomorrow %>
    <form class="task-component" action="/tasks/<%= task.id %>/migrate" method="post">
      <div class="migrate icon">
        <input type="submit" value="">
      </div>

    </form>
  <% end %>

    <div class="task-component">
      <a class="edit-link" href="/tasks/<%= task.id %>"><div class="edit icon"></div></a>
    </div>

    <form class="task-component" action="/tasks/<%= task.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <div class="delete icon">
        <input type="submit" value="">
      </div>
    </form>

  </div>

<% end %>

<% @day.migrations.each do |migration| %>
  <div class="task">
    <div class="migrated icon task-component"></div>
    <div class="task-component">
      <%= migration.task.content %>
    </div>
  </div>
<% end %>




  <h2>Events&nbsp;
    <a href="/days/<%= @day.id %>/events/new"><div class="add icon"></div></a>
  </h2>

<% @day.events.each do |event| %>
<div class="event-item">
  <div class="icon event task-component">
  </div>
  <div class="task-component content">
      <%= event.content %>
  </div>
  <div class="task-component">
    <a href="/events/<%= event.id %>"><div class="edit icon"></div></a>
  </div>

  <form class="task-component" action="/events/<%= event.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <div class="delete icon">
      <input type="submit" value="">
    </div>
  </form>
</div>
<% end %>
