<h1 class="day-title"><%= @day.date.strftime("%a, %B %-d, %Y") %></h1>

<% if flash[:success] %>
  <div class="success-message">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="error-message">
    <%= flash[:error] %>
  </div>
<% end %>


<% if @day.tasks.all.count > 0 %>
  <h2>Tasks</h2>
<% end %>

<% @day.tasks.each do |task| %>
  <div class="task">

    <% if task.status == "complete" %>
      <div class="indicator">
        X
      </div>
    <% else %>
      <form class="form-button" action="/tasks/<%= task.id %>/complete" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="status" value="complete">
        <input type="submit" value="&#8226;">
      </form>
    <% end %>

    <%= task.content %>
    <div class="button">
      <a href="/tasks/<%= task.id %>">EDIT</a>
    </div>
    <form class="form-button" action="/tasks/<%= task.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  </div>
<% end %>

<% if @day.events.count > 0 %>
  <h2>Events</h2>
<% end %>

<% @day.events.each do |event| %>
<div class="event">
  <div class="indicator">
    O
  </div>
  <%= event.content %>
  <div class="button">
    <a href="/events/<%= event.id %>">EDIT</a>
  </div>
  <form class="form-button" action="/events/<%= event.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<% end %>


<a href="/days/<%= @day.id %>/tasks/new">
  <div class="button">
    Add a task
  </div>
</a>

<a href="/days/<%= @day.id %>/events/new">
  <div class="button">
    Add an event
  </div>
</a>
